.contact__input,
.contact__textarea {
  height: 54px;
  width: 100%;
  font-family: serif;
  font-size: 16px;
  font-weight: normal;
  padding: 9px 15px;
  line-height: 1.5;
  margin-top: 10px;
  background-color: #f2f3f7;
  border: none;
  outline: none;
}

.contact__textarea {
  resize: vertical;
  height: 100px;
}

.contact__button {
  cursor: pointer;
  background: rgb(29, 29, 167);
  color: #fff;
  margin-bottom: 100px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  font-family: sans-serif;
  letter-spacing: 1px;
  padding: 12px 15px;
  border: none;
  border-radius: 50px;
}
