#hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: flex-start;
  padding: 0 30px;
  background-color: #efe7ee;
  background-image: url("../image/background.jpg");
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat;
}

#hero > h1 {
  font-size: 28px;
  line-height: 1.3;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}

#hero > p {
  font-family: serif;
  font-weight: 100;
  line-height: 1.5;
  margin-bottom: 30px;
}

#hero > button {
  background-color: transparent;
  width: 300px;
  border-radius: 2px;
  padding: 10px 15px;
  border: 1px solid black;
  gap: 13px;
  justify-content: center;
  align-items: center;
  display: flex;
}

#hero > button > span {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
